body {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 5vw; /* Taille de police responsive */
    background: linear-gradient(45deg, #ffcc00, #ff6699, #ff0066);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* animation: rainbowText 3s linear infinite; */
    animation: slideIn 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    /* animation: rotateText 2s linear forwards; */
  }
  
  @keyframes rainbowText {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  @keyframes slideIn {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes rotateText {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


#share-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 22px;
}
a{
    text-decoration: none;
}
#share {
    
    display: inline-block;
    padding: 10px 20px;
    margin-left: 15px;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 22px;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    animation: pulse 1s ease infinite alternate;
    

}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1); 
    }
  }



/*  */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    #share-button {
        font-size: 16px;
    }
    #share {
        font-size: 16px;
    }
}